node_modules
www
.angular
dist
coverage
.env
.env.*
!.env.example
.git
.gitignore
.vscode
.idea
*.log
npm-debug.log*
.DS_Store
Thumbs.db
README.md
android
ios
*.jks
*.keystore
.capacitor
e2e
*.spec.ts
Dockerfile
.dockerignore
